.form {
	width: 100%;
	height: auto;
	gap: 1rem;
}
.form button {
	align-self: center;
	scale: 1.3;
}
.formGroup Input {
	border: 1px solid #5c5c5c;
}
.formGroup label,
p {
	color: #5c5c5c;
}
.formInput,
.formGroup {
	width: 100%;
}
