.form {
	width: 100%;
	height: auto;
	gap: 1rem;
}
.form button {
	align-self: center;
	scale: 1.3;
}
.formInput {
	border: 1px solid #5c5c5c;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
}
.formInput:focus {
	box-shadow: none;
	border-bottom: 1px solid #5c5c5c;
}

.formGroup label,
p {
	color: #5c5c5c;
	margin: auto;
}
.formInput,
.formGroup {
	width: 100%;
}
