.App-link {
	color: #61dafb;
}
/* me */
.mainContainer {
	width: 100%;
	margin-top: 1rem;
}
.section {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.sectionMargin {
	margin-top: 2rem;
}
.sectionContentContainer {
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
	height: auto;
}
